$break-xs: 480px;
$break-sm: 960px;
$break-md: 1280px;


@mixin respond-to($media) {
    @if $media == xs {
        @media only screen and (max-width: $break-xs) { @content; }
    }
    @else if $media == sm {
        @media only screen and (min-width: $break-xs) and (max-width: $break-sm) { @content; }
    }
    @else if $media == md {
        @media only screen and (min-width: $break-sm) and (max-width: $break-md) { @content; }
    }
    @else if $media == lg {
        @media only screen and (min-width: $break-md) { @content; }
    }
}



html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
}
main {
    display: flex;
    flex-direction: column;
    align-self:center;
    justify-content:center;
}

.upper {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.lower {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

body {
    background: #22282b;
    color: white;
}

input {
    height: 50px;
    width: 300px;
    font-size: 20px;
    text-align: center;
}

button {
    border: 0;
    color: black;
    background-color: white;
    border-radius: 5px;
    font-size: 20px;
    padding: 50px;

}

@include respond-to(xs) {
    p {
        text-align: center;
    }
    button {
        padding: 40px;
    }
    button, input, p {
        width: 90%;
    }
    .upper {
        flex-direction: column;
    }
    .lower {
        justify-content: space-around;
    }
}
