$break-xs: 480px;
$break-sm: 960px;
$break-md: 1280px;


@mixin respond-to($media) {
    @if $media == xs {
        @media only screen and (max-width: $break-xs) { @content; }
    }
    @else if $media == sm {
        @media only screen and (min-width: $break-xs) and (max-width: $break-sm) { @content; }
    }
    @else if $media == md {
        @media only screen and (min-width: $break-sm) and (max-width: $break-md) { @content; }
    }
    @else if $media == lg {
        @media only screen and (min-width: $break-md) { @content; }
    }
}

html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
}

p {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    align-self:center;
    justify-content:center;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.upper {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lower {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

body {
    background: #22282b;
    color: white;
}

input {
    height: 80px;
    width: 75%;
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
}

button {
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    padding: 50px;
    width: 40%;
}

@include respond-to(xs) {
    button {
        padding: 40px;
    }
    button, input, p {
        width: 90%;
    }
}
@include respond-to(sm) {
    button {
        padding: 60px;
    }
    input {
        height: 80px;
    }
    button, input, p {
        width: 90%;
    }
}


